<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>魔筷应用中心</title>
    <link rel="stylesheet" href="/toolscenter/css/bootstrap.min.css" >
    <script src="/toolscenter/js/toolscenter.js" ></script>
</head>
<body>
#parse("/common/navbar.vm")
<div class="container">
    $screen_content
</div>
</body>
</html>