.idea/
*.iml
target/
.settings/
*.ipr
*.iws
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/trade-client/.classpath
/trade-client/.project
/trade-client/.settings/org.eclipse.core.resources.prefs
/trade-client/.settings/org.eclipse.jdt.core.prefs
/trade-client/.settings/org.eclipse.m2e.core.prefs
/trade-client/.settings/org.eclipse.wst.common.component
/trade-client/.settings/org.eclipse.wst.common.project.facet.core.xml
/trade-common/.classpath
/trade-common/.project
/trade-common/.settings/org.eclipse.core.resources.prefs
/trade-common/.settings/org.eclipse.jdt.core.prefs
/trade-common/.settings/org.eclipse.m2e.core.prefs
/trade-common/.settings/org.eclipse.wst.common.component
/trade-common/.settings/org.eclipse.wst.common.project.facet.core.xml
/trade-core/.classpath
/trade-core/.project
/trade-core/.settings/.jsdtscope
/trade-core/.settings/org.eclipse.core.resources.prefs
/trade-core/.settings/org.eclipse.jdt.core.prefs
/trade-core/.settings/org.eclipse.m2e.core.prefs
/trade-core/.settings/org.eclipse.wst.common.component
/trade-core/.settings/org.eclipse.wst.common.project.facet.core.xml
/trade-core/.settings/org.eclipse.wst.jsdt.ui.superType.container
/trade-core/.settings/org.eclipse.wst.jsdt.ui.superType.name
/trade-core/.settings/org.eclipse.wst.validation.prefs
/trade-mop-api/.classpath
/trade-mop-api/.project
/trade-mop-api/.settings/org.eclipse.core.resources.prefs
/trade-mop-api/.settings/org.eclipse.jdt.core.prefs
/trade-mop-api/.settings/org.eclipse.m2e.core.prefs
/trade-mop-api/.settings/org.eclipse.wst.common.project.facet.core.xml
/trade-mop-api/.settings/org.eclipse.wst.common.component
.idea/compiler.xml
.idea/copyright/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/workspace.xml
