<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
  xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://code.alibabatech.com/schema/dubbo  
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">   

  <!-- 提供方应用信息，用于计算依赖关系 -->  
  <dubbo:application name="dtask_consumer" />

  <dubbo:registry address="zookeeper://${dtaskcenter.dubbo.registry.address}" />

  <dubbo:reference id="itemService"  interface="com.mockuai.itemcenter.common.api.ItemService" check="false" timeout="100000"/>

  <dubbo:reference id="tradeService" interface="com.mockuai.tradecenter.common.api.TradeService" check="false"/>
  
  <dubbo:reference id="userDispatchService" interface="com.mockuai.usercenter.common.api.UserDispatchService" check="false" />

  <dubbo:reference id="customerService" interface="com.mockuai.customer.common.api.CustomerService" check="false" timeout="10000"/>

  <dubbo:reference id="distributionService"
                   interface="com.mockuai.distributioncenter.common.api.DistributionService" check="false" />

  <dubbo:reference id="supplierDispatchService" interface="com.mockuai.suppliercenter.common.api.SupplierDispatchService" check="false" />

  <dubbo:reference id="deliveryService" interface="com.mockuai.deliverycenter.common.api.DeliveryService" />

  <dubbo:reference id="appService" interface="com.mockuai.appcenter.common.api.AppService" />

</beans>
