/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/delivery-client/.classpath
/delivery-client/.gitignore
/delivery-client/.project
/delivery-client/.settings/org.eclipse.core.resources.prefs
/delivery-client/.settings/org.eclipse.jdt.core.prefs
/delivery-client/.settings/org.eclipse.m2e.core.prefs
/delivery-client/.settings/org.eclipse.wst.common.component
/delivery-client/.settings/org.eclipse.wst.common.project.facet.core.xml
/delivery-common/.classpath
/delivery-common/.gitignore
/delivery-common/.project
/delivery-common/.settings/org.eclipse.core.resources.prefs
/delivery-common/.settings/org.eclipse.jdt.core.prefs
/delivery-common/.settings/org.eclipse.m2e.core.prefs
/delivery-common/.settings/org.eclipse.wst.common.component
/delivery-common/.settings/org.eclipse.wst.common.project.facet.core.xml
/delivery-core/.classpath
/delivery-core/.gitignore
/delivery-core/.project
/delivery-core/.settings/.jsdtscope
/delivery-core/.settings/org.eclipse.core.resources.prefs
/delivery-core/.settings/org.eclipse.jdt.core.prefs
/delivery-core/.settings/org.eclipse.m2e.core.prefs
/delivery-core/.settings/org.eclipse.wst.common.component
/delivery-core/.settings/org.eclipse.wst.common.project.facet.core.xml
/delivery-core/.settings/org.eclipse.wst.jsdt.ui.superType.container
/delivery-core/.settings/org.eclipse.wst.jsdt.ui.superType.name
/delivery-core/.settings/org.eclipse.wst.validation.prefs
/delivery-mop-api/.classpath
/delivery-mop-api/.gitignore
/delivery-mop-api/.project
/delivery-mop-api/.settings/org.eclipse.core.resources.prefs
/delivery-mop-api/.settings/org.eclipse.jdt.core.prefs
/delivery-mop-api/.settings/org.eclipse.m2e.core.prefs
/delivery-mop-api/.settings/org.eclipse.wst.common.component
/delivery-mop-api/.settings/org.eclipse.wst.common.project.facet.core.xml
