/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/gifts-client/.classpath
/gifts-client/.gitignore
/gifts-client/.project
/gifts-client/.settings/org.eclipse.core.resources.prefs
/gifts-client/.settings/org.eclipse.jdt.core.prefs
/gifts-client/.settings/org.eclipse.m2e.core.prefs
/gifts-common/.classpath
/gifts-common/.gitignore
/gifts-common/.project
/gifts-common/.settings/org.eclipse.core.resources.prefs
/gifts-common/.settings/org.eclipse.jdt.core.prefs
/gifts-common/.settings/org.eclipse.m2e.core.prefs
/gifts-common/.settings/org.eclipse.wst.common.component
/gifts-common/.settings/org.eclipse.wst.common.project.facet.core.xml
/gifts-core/.classpath
/gifts-core/.gitignore
/gifts-core/.project
/gifts-core/.settings/.jsdtscope
/gifts-core/.settings/org.eclipse.core.resources.prefs
/gifts-core/.settings/org.eclipse.jdt.core.prefs
/gifts-core/.settings/org.eclipse.m2e.core.prefs
/gifts-core/.settings/org.eclipse.wst.common.component
/gifts-core/.settings/org.eclipse.wst.common.project.facet.core.xml
/gifts-core/.settings/org.eclipse.wst.jsdt.ui.superType.container
/gifts-core/.settings/org.eclipse.wst.jsdt.ui.superType.name
/gifts-core/.settings/org.eclipse.wst.validation.prefs
/gifts-mop-api/.classpath
/gifts-mop-api/.gitignore
/gifts-mop-api/.project
/gifts-mop-api/.settings/org.eclipse.core.resources.prefs
/gifts-mop-api/.settings/org.eclipse.jdt.core.prefs
/gifts-mop-api/.settings/org.eclipse.m2e.core.prefs
