/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/message-client/.classpath
/message-client/.gitignore
/message-client/.project
/message-client/.settings/org.eclipse.core.resources.prefs
/message-client/.settings/org.eclipse.jdt.core.prefs
/message-client/.settings/org.eclipse.m2e.core.prefs
/message-common/.classpath
/message-common/.gitignore
/message-common/.project
/message-common/.settings/org.eclipse.core.resources.prefs
/message-common/.settings/org.eclipse.jdt.core.prefs
/message-common/.settings/org.eclipse.m2e.core.prefs
/message-common/.settings/org.eclipse.wst.common.component
/message-common/.settings/org.eclipse.wst.common.project.facet.core.xml
/message-core/.classpath
/message-core/.gitignore
/message-core/.project
/message-core/.settings/.jsdtscope
/message-core/.settings/org.eclipse.core.resources.prefs
/message-core/.settings/org.eclipse.jdt.core.prefs
/message-core/.settings/org.eclipse.m2e.core.prefs
/message-core/.settings/org.eclipse.wst.common.component
/message-core/.settings/org.eclipse.wst.common.project.facet.core.xml
/message-core/.settings/org.eclipse.wst.jsdt.ui.superType.container
/message-core/.settings/org.eclipse.wst.jsdt.ui.superType.name
/message-core/.settings/org.eclipse.wst.validation.prefs
/message-mop-api/.classpath
/message-mop-api/.gitignore
/message-mop-api/.project
/message-mop-api/.settings/org.eclipse.core.resources.prefs
/message-mop-api/.settings/org.eclipse.jdt.core.prefs
/message-mop-api/.settings/org.eclipse.m2e.core.prefs
/message-mop-api/.settings/org.eclipse.wst.common.component
/message-mop-api/.settings/org.eclipse.wst.common.project.facet.core.xml
