<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://code.alibabatech.com/schema/dubbo  
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <bean id="headSingleService" class="com.mockuai.headsinglecenter.core.api.impl.HeadSingleServiceImpl"/>
    <!-- 提供方应用信息，用于计算依赖关系 --><!-- <dubbo:application name="user_provider" /> --><!-- 使用multicast广播注册中心暴露服务地址--><!-- <dubbo:registry address="multicast://localhost:1234" /> --><!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://${headsinglecenter.dubbo.registry.address}"/>
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="${headsinglecenter.dubbo.provider.port}" host="${headsinglecenter.dubbo.provider.host}"/>

    <!-- hessian协议在8080端口暴露服务 --><!--<dubbo:protocol name="hessian" port="8080" server="servlet"/>--><!--<dubbo:protocol contextpath="trade-core"/>--><!-- 声明需要暴露的服务接口 --><!--   <dubbo:service interface="com.mockuaickuai.tradecenter.client.cart.CartItemClient" ref="cartItemClient" protocol="dubbo"/>-->

    <dubbo:service interface="com.mockuai.headsinglecenter.common.api.HeadSingleService" ref="headSingleService" protocol="dubbo" retries="0" timeout="80000"/>
</beans>