<span>企业信息</span>
<form class="form-horizontal" method='post'
      action='#if($!{bizInfo})/appcenter/biz/update.do #else /appcenter/biz/add.do #end' >
<div class="form-group">
    <label class="col-sm-2 control-label">企业标志码：</label>

    <div class="col-sm-4">
        <input type="text" name="biz_code" class="form-control" value="$!{bizInfo.bizCode}">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">企业名称：</label>

    <div class="col-sm-4">
        <input type="text" name="biz_name" class="form-control" value="$!{bizInfo.bizName}">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">管理员：</label>

    <div class="col-sm-4">
        <input type="text" name="admin" class="form-control" value="$!{bizInfo.administrator}">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">联系电话：</label>

    <div class="col-sm-4">
        <input type="text" name="mobile" class="form-control" value="$!{bizInfo.mobile}">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">邮箱：</label>

    <div class="col-sm-4">
        <input type="text" name="email" class="form-control" value="$!{bizInfo.email}">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">企业描述信息：</label>

    <div class="col-sm-4">
        <textarea type="text" class="form-control" rows="3" value="$!{bizInfo.bizDesc}"></textarea>
    </div>
</div>

<span>企业配置信息</span>
<div class="form-group">
    <label class="col-sm-2 control-label">短信title：</label>
    <div class="col-sm-4">
        <input type="text" name="biz_message_title" class="form-control" value="$!{bizInfo.bizPropertyMap.biz_message_title.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">使用魔筷支付账号：</label>
    <div class="col-sm-4">
        <input type="checkbox" name="is_pay_by_mockuai" class="form-control" value="1" checked="true">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">支付宝商户号：</label>
    <div class="col-sm-4">
        <input type="text" name="alipay_partner" class="form-control" value="$!{bizInfo.bizPropertyMap.alipay_partner.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">支付宝账号：</label>
    <div class="col-sm-4">
        <input type="text" name="alipay_account" class="form-control" value="$!{bizInfo.bizPropertyMap.alipay_account.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">支付宝商户私钥：</label>
    <div class="col-sm-4">
        <input type="text" name="alipay_mch_private_key" class="form-control" value="$!{bizInfo.bizPropertyMap.alipay_mch_private_key.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">支付宝公钥：</label>
    <div class="col-sm-4">
        <input type="text" name="alipay_public_key" class="form-control" value="$!{bizInfo.bizPropertyMap.alipay_public_key.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">微信app端appId：</label>
    <div class="col-sm-4">
        <input type="text" name="wechat_app_app_id" class="form-control" value="$!{bizInfo.bizPropertyMap.wechat_app_app_id.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">微信app端appSecret：</label>
    <div class="col-sm-4">
        <input type="text" name="wechat_app_app_secret" class="form-control" value="$!{bizInfo.bizPropertyMap.wechat_app_app_secret.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">微信app端商户号：</label>
    <div class="col-sm-4">
        <input type="text" name="wechat_app_partner_id" class="form-control" value="$!{bizInfo.bizPropertyMap.wechat_app_partner_id.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">微信app端商户key：</label>
    <div class="col-sm-4">
        <input type="text" name="wechat_app_partner_key" class="form-control" value="$!{bizInfo.bizPropertyMap.wechat_app_partner_key.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">微信h5端appId：</label>
    <div class="col-sm-4">
        <input type="text" name="wechat_h5_app_id" class="form-control" value="$!{bizInfo.bizPropertyMap.wechat_h5_app_id.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">微信h5端appSecret：</label>
    <div class="col-sm-4">
        <input type="text" name="wechat_h5_app_secret" class="form-control" value="$!{bizInfo.bizPropertyMap.wechat_h5_app_secret.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">微信h5端商户号：</label>
    <div class="col-sm-4">
        <input type="text" name="wechat_h5_partner_id" class="form-control" value="$!{bizInfo.bizPropertyMap.wechat_h5_partner_id.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">微信h5端商户key：</label>
    <div class="col-sm-4">
        <input type="text" name="wechat_h5_partner_key" class="form-control" value="$!{bizInfo.bizPropertyMap.wechat_h5_partner_key.value}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">银联商户号：</label>
    <div class="col-sm-4">
        <input type="text" name="unionpay_mch_id" class="form-control" value="$!{bizInfo.bizPropertyMap.unionpay_mch_id.value}">
    </div>
</div>

<div class="col-sm-6 text-right">
    #if($!{bizInfo})
    <button type="submit" class="btn btn-default">更新</button>
    #else
    <button type="submit" class="btn btn-default">新建</button>
    #end
</div>
</form>